body {
    font-family: 'Lato', sans-serif;
}

/* header style */

.header {
    background-color: rgba(229, 84, 115, 10%);
    display: flex;
}

.shopnow-content {
    padding-left: 150px;
    padding-top: 220px;
    text-align: left;

}

.shopnow-content h1 {
    color: rgba(39, 39, 39, 100%);
    font-size: 65px;
}

.shopnow-content p {
    color: rgba(39, 39, 39, 60%);
    font-size: 18px;
}

.shopnow-image {
    padding: 40px 70px 0;


}

/* third section */
.third-section {
    margin-top: 130px;
}

.support {
    background-color: rgba(39, 39, 39, 5%);
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 85px;
}

.sup-cont {
    text-align: center;
    padding: 60px;
    font-size: 20px;

}

/* fourth section */
.sign-up {
    background-color: rgba(229, 84, 115, 5%);
    display: flex;
    margin-top: 100px;
    padding: 65px 130px;
}

.signup-content {
    padding: 0 100px;
    padding-top: 100px;
    text-align: center;
}

.signup-content h2 {
    font-size: 40px;
}

.signup-content p {
    font-size: 16px;
    color: rgba(39, 39, 39, 60%);
    padding: 0 10px;
}

.prm-btn {
    background-color: rgba(229, 84, 115, 100%);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 15px 35px;

}

.signup-image {
    padding-right: 100px;
}


/* fifth section */


.social-media {
    text-align: center;
    font-size: 40px;
}

.social-media p {
    font-size: 18px;
    color: rgba(39, 39, 39, 60%);
    padding: 0 440px;
}

.flower-image {

    display: flex;
    margin-left: 90px;
    margin-right: 90px;

}

.flower {

    padding: 15px;
}

.flower img {
    width: 100%;
    height: auto;
}

/* sixth Section */
.sub-section {
    margin: 70px 0;

}

.sub-content {
    background-image: url("Rectangle9.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 120px 60px;
}

.context {
    text-align: center;
    padding: 10px 100px;

}

.context h2 {
    color: rgba(39, 39, 39, 100%);
    font-size: 40px;

}

.context p {
    color: rgba(39, 39, 39, 60%);
    font-size: 18px;
}

.form {
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}

.form input[type='text'] {
    width: 50%;
    padding: 20px;
    margin-right: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}



/* Footer Part */

.footer {

    background-color: #111010;
    text-align: center;
    padding: 100px 440px;
}

.footer h2 {
    color: #FFFFFF;
    font-size: 44px;
}

.footer p {
    color: rgba(255, 255, 255, 90%);
    font-size: 18px;

}

.footer small {
    color: rgba(255, 255, 255, 40%);
    font-size: 16px;
}