body {
    font-family: 'Lato', sans-serif;
}

/* header style */

.header {
    background-color: rgba(229, 84, 115, 10%);
    display: flex;
}

.shopnow-content {
    padding: 150px 60px;
    ;
    /* padding-left: 150px;
    padding-top: 150px; */
    text-align: left;

}

.shopnow-content h1 {
    color: rgba(39, 39, 39, 100%);
    font-size: 50px;
}

.shopnow-content p {
    color: rgba(39, 39, 39, 60%);
    font-size: 18px;
    /* padding-bottom: 10px; */
}

.shopnow-image {
    /* padding: 20px 80px 0 10px; */
    width: 100%;
    height: auto;



}

/* third section */
.third-section {
    margin-top: 130px;
}

.support {
    background-color: rgba(39, 39, 39, 5%);
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 40px;
}

.sup-cont {
    text-align: center;
    padding: 50px;
    font-size: 20px;

}

/* fourth section */
.sign-up {
    background-color: rgba(229, 84, 115, 5%);
    display: flex;
    margin-top: 100px;
    padding: 65px 130px;
}

.signup-content {
    padding: 0 60px;
    padding-top: 100px;
    text-align: center;
}

.signup-content h2 {
    font-size: 40px;
}

.signup-content p {
    font-size: 16px;
    color: rgba(39, 39, 39, 60%);
    padding: 0 10px;
}

.prm-btn {
    background-color: rgba(229, 84, 115, 100%);
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 15px 35px;

}

.signup-image {
    padding-right: 70px;
}


/* fifth section */


.social-media {
    text-align: center;
    font-size: 40px;
}

.social-media p {
    font-size: 18px;
    color: rgba(39, 39, 39, 60%);
    padding: 0 440px;
}

.flower-image {
    /* align-items: center; */
    /* align-content: center; */


    display: flex;
    margin-left: 90px;
    margin-right: 90px;

}

.flower {

    padding: 15px;
}

.flower img {
    width: 100%;
    height: auto;
}

/* sixth Section */
.sub-section {
    margin: 60px 0;

}

.sub-content {
    background-image: url("Rectangle9.png");
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    /* height: auto; */
    margin-left: 100px;
    margin-right: 100px;
    /* padding: 120px 60px; */
    padding: 120px 50px;
}

.context {
    text-align: center;
    padding: 25px 100px;

}

.context h1 {
    color: rgba(39, 39, 39, 100%);
    font-size: 40px;

}

.context p {
    color: rgba(39, 39, 39, 60%);
    /* font-size: 18px; */
}

.form {
    text-align: center;
    font-size: 20px;
}

.form input[type='text'] {
    width: 50%;
    padding: 20px;
    margin-right: 10px;
    border: 0;
    border-radius: 7px;
}



/* Footer Part */

.footer {

    background-color: #111010;
    text-align: center;
    padding: 80px 300px;
}

.footer h1 {
    color: #FFFFFF;
}

.footer p {
    color: rgba(255, 255, 255, 90%);
}

.footer small {
    color: rgba(255, 255, 255, 40%);
}